<%namespace name="data" module="eflows.template_functions"/>
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      table {width: 100%; margin-top: 1em; margin-bottom: 1em; font-family:Arial; font-size: 0.8em; text-align:left;}
      tr.resources th {text-align: center;}
      tr.category { font-weight: bold; background-color: #EEE; }
      tr.category th {font-weight:bold; }
      tr.sector { background-color: #F4F4F4; }
      tr.sector th {font-weight:normal; }
      tr.node th {font-weight: normal; padding-left: 1em;}
    </style>
  </head>
  <body>
  <table>
    <thead>
      <tr class="resources">
        <th>${year} (Petajoules)</th>
        % for resource in data.resources():
        <th>${resource}</th>
        % endfor
        <th>Total</th>
      </tr>  
    </thead>
    <tbody>
      <tr class="category">
        <th>Total Primary Energy Supply</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Primary Production', resource, year) + data.resource_from_node('Imports', resource, year) - data.resource_into_node('Exports', resource, year) - data.resource_into_node('Bunkers', resource, year) + data.resource_from_node('Long-Term Stock Changes', resource, year) - data.resource_into_node('Long-Term Stock Changes', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Primary Production', year) + data.total_from_node('Imports', year) - data.total_into_node('Exports', year) - data.total_into_node('Bunkers', year) + data.total_from_node('Long-Term Stock Changes', year) - data.total_into_node('Long-Term Stock Changes', year))}</td>
      </tr> 
      <tr class="node">
        <th>Production</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Primary Production', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Primary Production', year))}</td>
      </tr> 
      <tr class="node">
        <th>Imports</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Imports', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Imports', year))}</td>
      </tr> 
      <tr class="node">
        <th>Exports</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Exports', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Exports', year))}</td>
      </tr> 
      <tr class="node">
        <th>International Bunkers</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Bunkers', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Bunkers', year))}</td>
      </tr> 
      <tr class="node">
        <th>Stock Changes</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Long-Term Stock Changes', resource, year) - data.resource_into_node('Long-Term Stock Changes', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Long-Term Stock Changes', year) - data.total_into_node('Long-Term Stock Changes', year))}</td>
      </tr> 

      <tr class="category">
        <th>Energy Conversion</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Power Plants', resource, year) - data.resource_into_node('Power Plants', resource, year) + data.resource_from_node('Refineries', resource, year) - data.resource_into_node('Refineries', resource, year) + data.resource_from_node('Other transformation', resource, year) - data.resource_into_node('Other transformation', resource, year) - data.resource_into_node('Own use', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.resource_from_node('Power Plants', 'Electricity', year) - data.total_into_node('Power Plants', year) + data.total_from_node('Refineries', year) - data.total_into_node('Refineries', year) + data.total_from_node('Other transformation', year) - data.total_into_node('Other transformation', year) - data.total_into_node('Own use', year))}</td>
      </tr> 
      <tr class="node">
        <th>Power Plants</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Power Plants', resource, year) - data.resource_into_node('Power Plants', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.resource_from_node('Power Plants', 'Electricity', year) - data.total_into_node('Power Plants', year))}</td>
      </tr> 
      <tr class="node">
        <th>Refineries</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Refineries', resource, year) - data.resource_into_node('Refineries', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Refineries', year) - data.total_into_node('Refineries', year))}</td>
      </tr> 
      <tr class="node">
        <th>Other Transformations</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Other transformation', resource, year) - data.resource_into_node('Other transformation', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Other transformation', year) - data.total_into_node('Other transformation', year))}</td>
      </tr> 
      <tr class="node">
        <th>Use in Energy Production</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Own use', resource, year) - data.resource_into_node('Own use', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Own use', year) - data.total_into_node('Own use', year))}</td>
      </tr> 

      <tr class="category">
        <th>Final Consumption</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Industry', resource, year) + data.resource_into_sector('Transport', resource, year) + data.resource_into_sector('Other', resource, year) + data.resource_into_sector('Non-energy use', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Industry', year) + data.total_into_sector('Transport', year) + data.total_into_sector('Other', year) + data.total_into_sector('Non-energy use', year))}</td>
      </tr> 
      <tr class="sector">
        <th>Industry</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Industry', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Industry', year))}</td>
      </tr> 
      <tr class="node">
        <th>Iron and Steel</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Iron and steel', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Iron and steel', year))}</td>
      </tr> 
      <tr class="node">
        <th>Chemical and Petrochemical</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Chemical and petrochemical', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Chemical and petrochemical', year))}</td>
      </tr> 
      <tr class="node">
        <th>Non-ferrous Metals</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Non-ferrous metals', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Non-ferrous metals', year))}</td>
      </tr>
      <tr class="node">
        <th>Wood and Wood Products</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Wood and wood products', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Wood and wood products', year))}</td>
      </tr> 
      <tr class="node">
        <th>Other</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Industry', resource, year) - data.resource_into_node('Iron and steel', resource, year) - data.resource_into_node('Chemical and petrochemical', resource, year) - data.resource_into_node('Non-ferrous metals', resource, year) - data.resource_into_node('Wood and wood products', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Industry', year) - data.total_into_node('Iron and steel', year) - data.total_into_node('Chemical and petrochemical', year) - data.total_into_node('Non-ferrous metals', year) - data.total_into_node('Wood and wood products', year))}</td>
      </tr> 
      <tr class="sector">
        <th>Transportation</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Transport', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Transport', year))}</td>
      </tr> 
      <tr class="node">
        <th>Road</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Road', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Road', year))}</td>
      </tr> 
      <tr class="node">
        <th>Rail</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Rail', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Rail', year))}</td>
      </tr> 
      <tr class="node">
        <th>Air</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Domestic aviation', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Domestic aviation', year))}</td>
      </tr>
      <tr class="node">
        <th>Marine</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Domestic navigation', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Domestic navigation', year))}</td>
      </tr>
      <tr class="node">
        <th>Other</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Transport', resource, year) - data.resource_into_node('Road', resource, year) - data.resource_into_node('Rail', resource, year) - data.resource_into_node('Domestic aviation', resource, year) - data.resource_into_node('Domestic navigation', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Transport', year) - data.total_into_node('Road', year) - data.total_into_node('Rail', year) - data.total_into_node('Domestic aviation', year) - data.total_into_node('Domestic navigation', year))}</td>
      </tr> 
      <tr class="sector">
        <th>Other</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Other', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Other', year))}</td>
      </tr> 
      <tr class="node">
        <th>Residential</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Residential', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Residential', year))}</td>
      </tr>
      <tr class="node">
        <th>Commerce and Public Services</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Commerce and public services', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Commerce and public services', year))}</td>
      </tr>
      <tr class="node">
        <th>Agriculture / Forestry</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Agriculture/forestry', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Agriculture/forestry', year))}</td>
      </tr>
      <tr class="node">
        <th>Fishing</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_node('Fishing', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_node('Fishing', year))}</td>
      </tr>
      <tr class="node">
        <th>Other</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Other', resource, year) - data.resource_into_node('Residential', resource, year) - data.resource_into_node('Commerce and public services', resource, year) - data.resource_into_node('Agriculture/forestry', resource, year) - data.resource_into_node('Fishing', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Other', year) - data.total_into_node('Residential', year) - data.total_into_node('Commerce and public services', year) - data.total_into_node('Agriculture/forestry', year) - data.total_into_node('Fishing', year))}</td>
      </tr>
      <tr class="sector">
        <th>Non-energy use</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_into_sector('Non-energy use', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_into_sector('Non-energy use', year))}</td>
      </tr> 
      <tr class="category">
        <th>Statistical Differences</th>
        % for resource in data.resources():
        <td>${"{:.1f}".format(data.resource_from_node('Statistical Differences', resource, year) - data.resource_into_node('Statistical Differences', resource, year))}</td>
        % endfor
        <td>${"{:.1f}".format(data.total_from_node('Statistical Differences', year) - data.total_into_node('Statistical Differences', year))}</td>
      </tr> 

    </tbody>
  </table>
</body>
